@use '../../scss/normalize';
@use '../../scss/mixins';
@use '../../scss/vars';

.detail {
	color: vars.$white;
	.detail--description {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.detail--overview {
			width: 50%;
			h1,
			h4,
			p {
				text-shadow: 0px 0px 30px vars.$dust;
			}
		}
		.detail--poster {
			width: 40%;
			img {
				max-width: 100%;
			}
		}
		.casts--content {
			display: flex;
			flex-wrap: wrap;
			gap: 2.5rem;
			.cast--item {
				width: 100px;
				img {
					width: 100px;
					height: 100px;
					border-radius: 50%;
					object-fit: cover;
					object-position: 0 1;
				}
				h3 {
					margin: 0.3rem;
				}
			}
		}
	}
	.detail--trailers {
		.detail--trailers__list {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
			.trailer {
				width: 350px;
				height: 200px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.detail {
		.detail--description {
			flex-direction: column;
			.detail--overview {
				box-sizing: border-box;
				width: 90%;
			}
		}
		.detail--trailers {
			.detail--trailers__list {
				.trailer {
					width: 300px;
					height: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.detail {
		.detail--description {
			flex-direction: column;
			.detail--overview {
				box-sizing: border-box;
				width: 100%;
			}
			.detail--poster {
				width: 100%;
			}
		}
		.detail--trailers {
			.detail--trailers__list {
				.trailer {
					width: 250px;
					height: auto;
				}
			}
		}
	}
}
