.cardSmall {
	display: flex;
	width: 350px;
	&-poster {
		width: 80px;
		margin-right: 1rem;
		img {
			max-width: 100%;
			border-radius: 10px;
		}
	}
	&-over {
		.year {
			padding: 0.2rem 1rem;
			color: #fff;
			background: rgba(51, 51, 51, 0.6666666667);
			border-radius: 5px;
			text-shadow: none;
			border: none;
		}
	}
}
