.cardSmall {
	display: flex;
	width: 350px;
	color: $white;
	&-poster {
		width: 80px;
		margin-right: 1rem;
		img {
			max-width: 100%;
			border-radius: 10px;
		}
	}
	&-over {
		p {
			width: 250px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}
.year {
	padding: 0.2rem 1rem;
	color: #fff;
	background: $carbon;
	border-radius: 5px;
	text-shadow: none;
	border: none;
}
