.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 80vh;
  box-shadow: inset 1px 1px 20px 20px $eerie;
  h1 {
    font-size: 2rem;
    font-weight: 400;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    width: 100vw;
    z-index: 1;
    background-image: linear-gradient(
      to left,
      rgba(29, 29, 29, 0.4),
      rgba(29, 29, 29, 0.7),
      rgba(29, 29, 29)
    );
  }
}
.hero--overview {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  margin: 10vh 5vw;
  height: inherit;
  color: $white;
  text-shadow: 2px 1px 5px black;
  .review-counts,
  .premiere {
    color: #777;
    text-shadow: none;
  }
  .media-type {
    background: $red;
    padding: 0.2rem 0.6rem;
    border-radius: 15px;
    text-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    aspect-ratio: 16/9;
  }
  .hero--overview {
    margin: 2vh 5vw;
    flex-direction: column;
  }
}
@media screen and (max-width: 620px) {
  .hero {
    height: 80vh;
    aspect-ratio: 3/5;
  }
  .hero--overview {
    margin: 0vh 5vw;
  }
}
