.hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 85vh;
  box-shadow: inset 1px 1px 20px 30px $eerie;
  h1 {
    font-size: 2rem;
    font-weight: 400;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    width: 100vw;
    z-index: 1;
    background-image: linear-gradient(
      to left,
      rgba(29, 29, 29, 0.4),
      rgba(29, 29, 29, 0.7),
      rgba(29, 29, 29)
    );
  }
}
.hero--overview {
  z-index: 2;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: flex-start;
  padding: 0 2rem;
  color: $white;
  text-shadow: 2px 1px 5px black;
  .review-counts,
  .premiere {
    color: #777;
    text-shadow: none;
  }
  .media-type {
    background: $red;
    padding: 0.2rem 0.6rem;
    border-radius: 15px;
    text-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: 100vw;
    padding-top: 2rem;
  }
  .hero--overview {
    flex-direction: column;
    width: 100%;
    .poster {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
@media screen and (max-width: 620px) {
  .hero {
    width: 90vw;
    padding-left: 1rem;
    padding-top: 0;
  }
  .hero--overview {
    .poster {
      padding-top: 4rem;
    }
  }
}
@media screen and (max-width: 425px) {
  .hero {
    padding: 0;
  }
}
