@use '../../scss/normalize';
@use '../../scss/mixins';
@use '../../scss/vars';

.button {
	position: relative;
	padding: 1rem;
	width: 18rem;
	color: vars.$white;
	font-size: 1.1rem;
	font-weight: 500;
	border-radius: 40px;
	background: vars.$red;
	&:hover {
		transform: scale(1.03);
		transition: all 0.2s ease;
	}
}
