@use '../../scss/normalize';
@use '../../scss/mixins';
@use '../../scss/vars';

.categories {
	margin: 0 4rem;
	color: vars.$white;
	.categories--tags {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		.tag {
			padding: 0.5rem 1rem;
			color: white;
			border-radius: 50px;
			background: vars.$red;
			cursor: pointer;
		}
	}
}
