.detail {
	color: $white;
	margin-left: 70px;
	h2,
	.detail-trailers__list {
		margin-left: 3vw;
	}
	&-description {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		&__overview {
			width: 100%;
			h1,
			h4,
			p {
				text-shadow: 0px 0px 30px $dust;
			}
		}
		.casts--content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			gap: 2.5rem;
			.cast--item {
				width: 150px;
				text-align: center;
				img {
					width: 100px;
					height: 100px;
					border-radius: 50%;
					object-fit: cover;
					object-position: 0 1;
				}
				h3 {
					margin: 0.3rem;
					font-weight: 400;
				}
			}
		}
	}
}
.detail-trailers {
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		.trailer {
			width: 350px;
			height: 200px;
		}
	}
}

@media screen and (max-width: 768px) {
	.detail {
		margin-left: 0;
		&-description {
			flex-direction: column;
			&__overview {
				box-sizing: border-box;
				width: 90%;
			}
		}
		.detail-trailers {
			&__list {
				.trailer {
					width: 300px;
					height: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.detail {
		&-description {
			flex-direction: column;
			&__overview {
				box-sizing: border-box;
				width: 100%;
			}
			.detail--poster {
				width: 100%;
			}
		}
		.detail-trailers {
			&__list {
				.trailer {
					width: 250px;
					height: auto;
				}
			}
		}
	}
}
