.detail {
  position: relative;
  color: $white;
  .main-layout {
    padding: 2rem 0 0 5rem;
  }
  h1 {
    margin-top: 0;
  }
  .rating {
    padding-bottom: 1rem;
  }
  .play {
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    color: $white;
    background: #c4c4c453;
    border: none;
    border-radius: 5px;
    text-shadow: none;
    transition: all ease-in-out 0.2s;
    &:hover {
      transform: scale(1.05);
      background: #333333ee;
    }
  }
  .close {
    position: absolute;
    bottom: 5rem;
  }
  .detail-trailer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background: #333333ee;
    .trailer {
      padding-left: 4rem;
      width: 90%;
      height: 500px;
    }
  }
  &-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    &__overview {
      width: 100%;
      p {
        padding-bottom: 0.5rem;
      }
      h1,
      h4,
      p {
        text-shadow: 0px 0px 30px $dust;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .detail {
    margin-left: 0;
    .main-layout {
      padding: 0;
    }
    &-description {
      flex-direction: column;
      &__overview {
        box-sizing: border-box;
        width: 90%;
      }
    }
    .detail-trailer {
      .trailer {
        position: absolute;
        top: 3rem;
        padding-left: 0;
        width: 100%;
        height: 400px;
      }
      .close {
        bottom: 16rem;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .detail {
    .main-layout {
      padding: 0;
    }
    .detail-trailer {
      justify-content: center;
      .trailer {
        width: 100%;
        height: 320px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .detail {
    &-description {
      flex-direction: column;
      &__overview {
        box-sizing: border-box;
        width: 100%;
      }
      .detail--poster {
        width: 100%;
      }
    }
    .detail-trailer {
      justify-content: center;
      .trailer {
        height: 250px;
      }
      .close {
        bottom: 24rem;
      }
    }
  }
}
