.favorites {
	color: $white;
	.search-bar {
		margin: 0 0 2rem 0;
		&-container {
			justify-content: flex-start;
		}
	}
	&-title {
		margin: 0;
	}
	&-container {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
	}
}
