.home {
	position: relative;
	.main-layout {
		.home-widgets {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-auto-rows: min-content;
			gap: 2rem;
			.categories {
				grid-column: 1/3;
				grid-row: 1/2;
			}
			.trendingBox {
				grid-column: 3/4;
				grid-row: 1/6;
			}
			.grid-container {
				grid-row: 2/12;
				grid-column: 1/3;
				.grid {
					display: grid;
					grid-template-columns: repeat(
						auto-fit,
						minmax(250px, min-content)
					);
					gap: 1rem;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.home {
		.main-layout {
			.home-widgets {
				grid-template-columns: repeat(2, 1fr);
				.categories {
					grid-column: 1/3;
				}
				.trendingBox {
					grid-column: 1/3;
					grid-row: 2/7;
				}
				.grid-container {
					grid-row: 7/20;
					grid-column: 1/3;
				}
			}
		}
	}
}
