body {
	font-family: 'Roboto';
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 12px;
		background: $eerie;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 15px;
		background: $dust;
		border-right: 2px solid $eerie;
		border-left: 2px solid $eerie;
	}
}

#root {
	width: 100vw;
	min-height: 100vh;
	background: $eerie;
	padding-bottom: 4rem;

	.rating {
		display: flex;
		align-items: center;
		margin: 0;
		gap: 0.5rem;
	}
}
