@use '../../scss/normalize';
@use '../../scss/mixins';
@use '../../scss/vars';

.results {
	padding: 3rem 4rem;
	.button {
		padding: 0.5rem 1rem;
		margin: 2rem;
	}
	.results--title {
		padding: 1rem;
		margin: 0;
	}
	.results--container {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		margin: 0 2rem;
	}
}
