@use '../../scss/normalize';
@use '../../scss/mixins';
@use '../../scss/vars';

.span--category {
	padding: 0.1rem 0.3rem;
	color: vars.$cyan;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 0 10px 0 10px;
}
