@use '../../scss/vars';
@use '../../scss/mixins';

.login {
	grid-column: 3/5;
	padding: 3rem;
	margin-top: 10rem;
	color: vars.$white;
	background: vars.$black-3;
	border-radius: 10px;
	.login-header {
		font-size: 1.5rem;
		border-bottom: 1px solid vars.$black-2;
		h4 {
			margin: 1rem;
			font-weight: 600;
		}
	}
	.login-form {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding-top: 3rem;
		input {
			box-sizing: border-box;
			margin-top: 0.5rem;
			padding: 1rem;
			width: 100%;
			color: vars.$white;
			background: vars.$black-2;
			border: none;
			border-radius: 5px;
			outline: none;
		}
		.check {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			text-align: center;
			input {
				margin: 0;
				width: 10%;
			}
		}
	}
}
