@use '../../scss/vars';
@use '../../scss/mixins';

.avatar {
	position: absolute;
	right: 5rem;
	@include mixins.flexible(flex, row, nowrap, center, center);
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 1em;
	border: 1px solid transparent;
	background: vars.$purple-gradient no-repeat;
	img {
		max-width: 100%;
		border-radius: 50%;
	}
}
