//Colors

$black-1: #000;
$black-2: #0e0e0e;
$black-3: #1d1d1d;
$gray-1: #dedede;
$gray-2: #626262;
$gray-3: #898989;
$white: #fff;
$purple: #9069ff;

//Gradients

$blue-gradient: linear-gradient(#1d57c7, #1815aa);
$purple-gradient: linear-gradient(#7939ff, #c823f1);
$red-gradient: linear-gradient(#ee4545, #db0303);
$yellow-gradient: linear-gradient(#ffce22, #d1843c);
$green-gradient: linear-gradient(#75fdab, #1db13e);
$black-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

//Font

$base-font-size: 16px;
$title-font-size: 32px;
