//Colors

//primary
$eerie: #1d1d1d;
$white: #fff;
$cyan: #0feffd;
$red: #e10856;
$magenta: #ff00f5;
//secondary
$dust: #c4c4c4;
$carbon: #333333;
$nero: #262626;
$black: #000;

//Gradients

$neon-gradient: linear-gradient(
	90deg,
	#0fc9fd,
	#ff00f5,
	rgba(15, 125, 253, 0.1)
);
$black-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));

//Font

$h1-font-size: 2.5rem;
$h1-line-height: 3rem;
$h2-font-size: 2rem;
$h2-line-height: 2.5rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.1rem;
$h5-font-size: 1rem;
$card-font-size: 1rem;
$body-font-size: 1rem;
$body-line-height: 2rem;
$small-line-height: 1rem;
$small-font-size: 0.9rem;
