@use 'normalize';
@use 'vars';
@use 'mixins';

body {
	font-family: 'Poppins';
}

#root {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-auto-rows: auto;
	padding-bottom: 5rem;
	min-height: 100vh;
	background: vars.$black-2;
}
